<a href="https://colab.research.google.com/github/FeurialBlack/Retailer/blob/main/EDAproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns

In [16]:
data= pd.read_csv("/content/SampleSuperstore.csv")

In [24]:
retail = data.drop(['Country'],axis =1 )

In [27]:
retail.tail()

           Ship Mode   Segment         City  ... Quantity  Discount   Profit
9989    Second Class  Consumer        Miami  ...        3       0.2   4.1028
9990  Standard Class  Consumer   Costa Mesa  ...        2       0.0  15.6332
9991  Standard Class  Consumer   Costa Mesa  ...        2       0.2  19.3932
9992  Standard Class  Consumer   Costa Mesa  ...        4       0.0  13.3200
9993    Second Class  Consumer  Westminster  ...        2       0.0  72.9480

[5 rows x 12 columns]

In [28]:
retail.nunique()

Ship Mode          4
Segment            3
City             531
State             49
Postal Code      631
Region             4
Category           3
Sub-Category      17
Sales           5825
Quantity          14
Discount          12
Profit          7287
dtype: int64

In [29]:
retail = data.drop(['Country','Ship Mode','City','State','Postal Code',],axis =1 )

In [30]:
retail.head()

     Segment Region         Category  ... Quantity  Discount    Profit
0   Consumer  South        Furniture  ...        2      0.00   41.9136
1   Consumer  South        Furniture  ...        3      0.00  219.5820
2  Corporate   West  Office Supplies  ...        2      0.00    6.8714
3   Consumer  South        Furniture  ...        5      0.45 -383.0310
4   Consumer  South  Office Supplies  ...        2      0.20    2.5164

[5 rows x 8 columns]

In [31]:
retail.shape

(9994, 8)

In [32]:
retail.describe()

              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
std      623.245101     2.225110     0.206452   234.260108
min        0.444000     1.000000     0.000000 -6599.978000
25%       17.280000     2.000000     0.000000     1.728750
50%       54.490000     3.000000     0.200000     8.666500
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

In [34]:
pd.read_csv('SampleSuperstore.csv',header= None, nrows=5)
retail.to_csv('Retail.csv')